@import  url( 'https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap' );
 *{
     margin:0;
     padding: 0;
     text-decoration: none;
     box-sizing: border-box;
     font-family: 'Montserrat Alternates', sans-serif;
 }
 .contacto{
    
    color: #061a59;
    margin-top: 10px;
    text-align: justify;
    align-items: center;
    font-size: 16px;
    margin-left: none;
    width: 55%;
  background: #c7c7c7;
  border-radius: 10px;
  float: none;
  margin-right: 20px;
    display: inline;
   
    
}
.contacto label{
    margin-left: 10px;
}

.contacto input{
    
    border: 1px solid #030f5e;
    height: 30px;
   width: 90%;
    color: #030f5e;
    outline: 0;
    margin-left: 10px;
    border-radius: 10px;
}
.contacto select{
    margin-left: 10px;
    color: #030f5e;
    border-radius: 10px;
}
.contacto textarea{
    margin-left: 10px;
    width: 90%;
    color: #030f5e;
    border-radius: 10px;
}
#prod{
    background-color: #f5f0f0;
    border-radius: 10px;
    border: #061a59;
}
#prod a{
    text-align: center;
    align-items: center;
    
}
#prod img{
    
    border-radius: 10px;
    
}
#catalogo{
    text-align: center;
    align-items: center;
}
#cl1{
    background-color: #a4c3fc;
    border-radius: 50px;
   
}
#cl1:hover{
    background-color: rgb(54, 142, 241);
    border-radius: 50px;

}
#cl1 a:hover{
    background-color: rgb(47, 255, 58);
}
#cl2{
    background-color: none;
    border-radius: 50px;
}
#cl2:hover{
    background-color: #c7c7c7 ;
}
#cl3{
    background-color: #0088e2b2;
    border-radius: 50px;
}
#cl3:hover{
    background-color: #593cff;
}
